* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.product__inner {
  padding-top: 152px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.product__right-item-btn {
  border: none;
  background-color: transparent;
}

.product__color-top-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #8f91a3;
}

.product__right-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 0;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 33px;
}

.bg {
  width: 250px;
  height: 184px;
  position: absolute;
  z-index: -1;
  margin-top: -27px;
}

.item__img-box {
  position: relative;
  border-radius: 10px;
}

.bg {
  border-radius: 10px;
}

.item__img {
  margin-top: -70px;
}

.item__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  width: 116px;
}

.item__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
}

.item__texts {
  display: flex;
  justify-content: space-between;
}

.item__text {
  color: rgba(44, 46, 63, 0.6980392157);
  width: 242px;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  letter-spacing: -0.38px;
  margin-top: 23px;
  margin-bottom: 33px;
}

.item__btn {
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
}

.item__textss-text {
  color: rgba(20, 21, 23, 0.4980392157);
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-top: 6px;
}

.product__color-top {
  display: flex;
  align-items: center;
  gap: 142px;
  border-bottom: 2px solid #e7e8ed;
  width: 200px;
  padding-bottom: 10px;
}

.product__color-spp {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #7faadb;
  background-color: #7faadb;
}

.spp2 {
  background-color: #fe7865;
  border: 1px solid #fe7865;
}

.spp3 {
  border: 1px solid #9ce0d8;
  background-color: #9ce0d8;
}

.spp4 {
  background-color: #ffb585;
  border: 1px solid #ffb585;
}

.spp5 {
  background-color: #b0e2bb;
  border: 1px solid #b0e2bb;
}

.spp6 {
  background-color: #bfadef;
  border: 1px solid #bfadef;
}

.spp7 {
  background-color: #ff8e9c;
  border: 1px solid #ff8e9c;
}

.spp8 {
  background-color: #fcbdda;
  border: 1px solid #fcbdda;
}

.spp1::before {
  content: "";
  position: absolute;
  background-color: #7faadb;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  top: 3px;
  left: 3px;
  display: none;
}

.spp2::before {
  content: "";
  position: absolute;
  background-color: #fe7865;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  top: 3px;
  left: 3px;
  display: none;
}

.spp3::before {
  content: "";
  position: absolute;
  background-color: #9ce0d8;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  top: 3px;
  left: 3px;
  display: none;
}

.spp4::before {
  content: "";
  position: absolute;
  background-color: #ffb585;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  top: 3px;
  left: 3px;
  display: none;
}

.spp5::before {
  content: "";
  position: absolute;
  background-color: #b0e2bb;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  top: 3px;
  left: 3px;
  display: none;
}

.spp6::before {
  content: "";
  position: absolute;
  background-color: #bfadef;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  top: 3px;
  left: 3px;
  display: none;
}

.spp7::before {
  content: "";
  position: absolute;
  background-color: #ff8e9c;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  top: 3px;
  left: 3px;
  display: none;
}

.spp8::before {
  content: "";
  position: absolute;
  background-color: #fcbdda;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  top: 3px;
  left: 3px;
  display: none;
}

.products__colors {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 200px;
  gap: 45px;
  margin-top: 32px;
}

.product__color:checked + .product__color-spp {
  background-color: transparent;
}

.product__color:checked + .product__color-spp::before {
  display: block;
}

.product__color:checked + .spp2 {
  background-color: transparent;
}

.product__color:checked + .spp2::before {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.product__filter-top {
  display: flex;
  align-items: center;
  gap: 142px;
  border-bottom: 2px solid #e7e8ed;
  padding-bottom: 10px;
  margin-top: 96px;
}

.product__filter-top-text {
  color: #8f91a3;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
}

.product__filter-newbtn {
  border: none;
  background-color: transparent;
  margin-top: 32px;
  margin-bottom: 23px;
}

.product__filter-materials-text {
  font-weight: 600;
  margin-bottom: 14px;
}

.product__filter-materials-lbbox {
  margin-left: 24px;
}

.product__filter-label {
  max-width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.filter__color-sppp {
  color: rgba(20, 21, 23, 0.5960784314);
}

.filter__color-spp {
  display: inline-block;
  padding: 8px;
  border: 1px solid rgba(20, 21, 23, 0.5960784314);
  position: relative;
}

.filter__color-spp::before {
  content: "";
  position: absolute;
  background-image: url("/img/Green-checkmark-with-rounded-ends.svg.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  top: 2px;
  left: 1px;
  display: none;
}

.filter__color:checked ~ .filter__color-spp::before {
  display: block;
}

.product__filter-btnn {
  border: none;
  background-color: transparent;
  margin-top: 24px;
}

.product__price-box {
  margin-top: 96px;
}

.product__price-top {
  display: flex;
  align-items: center;
  gap: 142px;
  border-bottom: 2px solid #e7e8ed;
  padding-bottom: 10px;
}

.product__price-top-text {
  color: #8f91a3;
}

.header__inner {
  padding-top: 68px;
  padding-bottom: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 47px;
}

.header__item-link {
  color: black;
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.hero__out {
  border-radius: 20px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__left {
  background: linear-gradient(90deg, #f5f8fc 0%, #e7eff8 100%);
}

.hero__right {
  background: linear-gradient(360deg, #fffbf8 0%, #fff5ef 100%);
  padding-left: 168px;
  padding-right: 168px;
  padding-top: 136px;
  padding-bottom: 136px;
  position: relative;
}

.hero__right::before {
  content: "-35%";
  position: absolute;
  background-color: #fe7865;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50%;
  width: 83;
  height: 30;
  top: 100px;
  left: 500px;
  font-size: 20px;
}

.hero__subtitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.18px;
  color: #fe7865;
}

.hero__title {
  font-weight: 600;
  font-size: 60px;
  letter-spacing: -1.66px;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.47px;
}

.hero__btn {
  border: none;
  background-color: #fe7865;
  color: white;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 152px;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 30px;
  position: relative;
  cursor: pointer;
}

.hero__btn::before {
  content: "";
  position: absolute;
  background-image: url("/img/arrow-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  top: 20px;
  left: 180px;
}

.hero__btn:hover::before {
  content: "";
  position: absolute;
  background-image: url("/img/arrow-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  top: 20px;
  left: 287px;
  transition: all 0.2s linear;
}

.detail__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail__left {
  margin-left: auto;
}

.detail__center-price {
  color: #fe7865;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.18px;
}

.detail__center-title {
  max-width: 442px;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -1.11px;
}

.detail__center-text {
  max-width: 376px;
  color: rgba(44, 46, 63, 0.6980392157);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.47px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.detail__center-colors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  margin-bottom: 71px;
}

.detail__color:checked + .detail__color-spp::before {
  display: block;
}

.detail__color-spp {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #7faadb;
  background-color: #7faadb;
}

.detail__color-spp::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: none;
}

.detail-spp2 {
  background-color: black;
  border: 1px solid black;
}

.detail-spp3 {
  background-color: #9ce0d8;
  border: 1px solid #9ce0d8;
}

.detail-spp4 {
  background-color: #ffb585;
  border: 1px solid #ffb585;
}

.detail__center-add {
  border: none;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 135px;
  background-color: #fe7865;
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

.detail__center-add::before {
  content: "";
  position: absolute;

  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  top: 20px;
  left: 130px;
  transition: all 0.2s linear;
}
.detail__center-add {
  border-radius: 10px;
}
.detail__center-add:hover {
  background-color: #ffb585;
}

.detail__center-add:hover::before {
  left: 230px;
}

.detail__right {
  margin-right: auto;
}

.looklike__inner {
  margin-top: 100px;
}

.looklike__title {
  text-align: center;
  color: #fe7865;
  margin-bottom: 112px;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.18px;
} /*# sourceMappingURL=main.css.map */
