.header {
}
.header__out {
}
.header__inner {
    padding-top: 68px;
    padding-bottom: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__icon-link {
}
.header__icon {
}
.header__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 47px;
}
.header__item {
}
.header__item-link {
    color:black;

}
.header__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
}
.header__box-profil {
}
.header__box-profil-img {
}
.header__box-serch {
}
.header__box-serch-img {
}
.header__box-savad {
}
.header__box-savad-img {
}