body{
    width: 500px;
}
  
  .box {
    background: rgb(89, 0, 255);
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  
  
  .btn__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: rgb(16, 9, 3);

    border-radius: 8px;
    color: green;
    cursor: pointer;
    transition: 0.2s;
  }
  .text {
    background-color: oldlace;
    color: blue;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 6px;
    padding-left: 50px;
  }
  
  
  .nol {
    grid-column: 1/3;
  }
  .ten {
    grid-column: 4/5;
    grid-row: 4/6;
    background-color: oldlace;
  }