* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif, serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
