.hero {
  height: calc(100vh - 70px);
}

.hero__wrapper {
  @include d-flex(0, space-between);
  background: linear-gradient(#f5f8fc, #e7eff8);
}

.hero__info {
  padding: 136px 165px;
  background: linear-gradient(#fffbf8, #fff5ef);
  position: relative;
  .hero__title {
    @include font($primary-color, 96px, 700);

    .text-weak {
      @include font($primary-color, 96px, 300);
    }
  }

  .hero__subtitle {
    @include font($secondary-color, 32px, 600);
  }

  .hero__text {
    @include font($text-color, 16px, 400);
    margin: 32px 0 40px;
  }

  .hero__btn {
    padding: 40px;
    background-color: $secondary-color;
    @include font($light-color, 14px, 700);
    border: none;
    i {
      margin-left: 40px;
    }
  }
  .discount {
    background-color: $secondary-color;
    @include font($light-color, 20px, 400);
    display: inline-block;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    @include d-flex(0, center);
    position: absolute;
    right: 200px;
    top: 100px;
  }
}
